.searchbar {
    .searchbar__wrapper {
        display: flex;
        border: 1px solid lightgrey;
        border-radius: 8px;
        width: 40%;
        padding: 10px;
        svg {
            width: 20px;
        }
        input {
            border: none;
            width: 100%;
            margin-left: 10px;
            &:focus {
                outline: none;
            }
        }
    }
}